@import '@cssVariables';

.bg {
  align-items: center;
  display: flex;
  height: 100%;
  justify-content: center;
  width: 100%;
}

.wc {
  background: var(--dark-grey);
  color: var(--red);
  font-size: var(--font-size-xxl);
}

.ac {
  background: var(--cornsilk);
  color: var(--orange);
  font-size: var(--font-size-xxl);
}
